# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

*.pb.go
bin/
*.pem
test_model*
.env.bash
.env
db.env
.idea/
.elasticbeanstalk
vendor/
.vgenable
coverage.tx
kube_config
*.sql

# Default ignored files
.idea/workspace.xml
