# from here:
# https://stackoverflow.com/questions/25557874/elastic-beanstalk-deployment-taking-longer-than-timeout-period-how-do-i-increas/25558805#25558805
# and here:
# https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/customize-containers-cw.html
option_settings:
    - namespace: aws:elasticbeanstalk:command
      option_name: Timeout
      # 40 mins... (as sometimes downloading ubuntu bionic take very long)
      value: 2400
