files:
    "/etc/nginx/conf.d/proxy.conf" :
        mode: "000755"
        owner: root
        group: root
        content: |
          client_max_body_size 800M;

    # This file will run right before the "docker build".
    # We use it to download keys from S3 and have them ready for the docker build.
    "/opt/elasticbeanstalk/hooks/appdeploy/pre/02injectdockerfile.sh":
        mode: "000755"
        content: |
          . /opt/elasticbeanstalk/hooks/common.sh
          EB_CONFIG_APP_CURRENT=$(/opt/elasticbeanstalk/bin/get-config container -k app_deploy_dir)
          cd $EB_CONFIG_APP_CURRENT
          K8_CONFIG_FILENAME=$(/opt/elasticbeanstalk/bin/get-config environment -k IGN_CLOUDSIM_K8_CONFIG_FILENAME)
          aws s3 cp s3://web-cloudsim-keys/$K8_CONFIG_FILENAME kube_config
commands:
    # disable docker cache to avoid issues when updating (cached) debian dependencies in builds. eg: libignition-transport7-dev
    01_docker_build_no_cache:
        command: sed -i "s/docker build -t/docker build --no-cache -t/" /opt/elasticbeanstalk/hooks/appdeploy/pre/03build.sh

