commands:
    01_weave_download:
        command: |
            FILE=/usr/local/bin/weave
            if [ ! -f "$FILE" ]; then
                curl -L git.io/weave -o /usr/local/bin/weave
                chmod a+x /usr/local/bin/weave
            fi
    03_connect_to_weave_net:
        command: |
            set -x
            . /opt/elasticbeanstalk/hooks/common.sh
            KUBE_MASTER_IP=$(/opt/elasticbeanstalk/bin/get-config environment -k KUBE_MASTER_IP)
            # Is Weave already running? If yes, stop it and detach from network
            /usr/local/bin/weave status
            status=$?
            if [ "$status" -eq "0" ]; then
                echo "Weave was running"
                /usr/local/bin/weave stop
            fi
            # launch Weave Net and join cluster
            /usr/local/bin/weave launch --ipalloc-init observer $KUBE_MASTER_IP
    04_launch_docker_with_weave:
        command: sed -i "s/docker run -d/docker \$(\/usr\/local\/bin\/weave config) run -d/" /opt/elasticbeanstalk/hooks/appdeploy/enact/00run.sh
